* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}

.perfume {
    height: 40vh;
    width: auto;
    margin-top: 4vw;
}

.container {
    background-color: #1F2937;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.title {
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
}

.comment {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
}

.title2 {
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
    text-align: center;
    padding-bottom: 5vh;
}

.container2 {
    background-color: white;
    padding-top: 3vh;
    padding-bottom: 12vh;
}

.container3 {
    background-color: #E5E7EB;
}

header,
.lil-container {
    display: flex;
    justify-content: space-between;
    padding-left: 16vw;
    padding-right: 16vw;
    padding-top: 1.5vh;
    padding-bottom: 6.4vh;
}

ul {
    display: flex;
    gap: 22px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.lil-container {
    gap: 10vw;
}

.small-container {
    display: flex;
    gap: 10vh;
    justify-content: center;
}

.text {
    text-align: center;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15vh 23vw;
}

.quote {
    font-style: italic;
}

.author {
    font-weight: bold;
    font-style: italic;
    align-self: flex-end;
    padding-right: 3vw;
}

.container4 {
    padding: 2vw;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}